//- '[hidden]'=`ctrl.do_multi`
//- #single=false
input-value(
  *ngIf=`!ctrl.do_multi`
  '[schema]'=`ctrl.schema`
  '[named]'=`named`
  '[ctrl]'=`ctrl.single`
)

//- '[hidden]'=`!ctrl.do_multi`
//- #multi=false
input-value(
  *ngIf=`ctrl.do_multi`
  '[schema]'=`ctrl.multi_schema`
  '[named]'=`named`
  '[ctrl]'=`ctrl.multi`
)

.input-field
  input.filled-in(
    type='checkbox'
    '[(ngModel)]'=`ctrl.do_multi`
    '[id]'=`rand_id`
  )
  label(
    '[attr.for]'=`rand_id`
  )
    | multiple
