- rand = Math.floor(Math.random() * 100000)
.input-field
  input.filled-in(
    type='checkbox'
    '[(ngModel)]'=`ctrl.do_multi`
    '[id]'=`rand_id`
  )
  label(
    '[attr.for]'=`rand_id`
  )
    | multiple

//- '[hidden]'=`ctrl.do_multi`
//- #single=false
input-value(
  *ngIf=`!ctrl.do_multi`
  '[path]'=`path.concat('single')`
  '[schema]'=`schema`
  '[named]'=`named`
  '[ctrl]'=`ctrl`
)

//- '[hidden]'=`!ctrl.do_multi`
//- #multi=false
input-value(
  *ngIf=`ctrl.do_multi`
  '[path]'=`path.concat('multi')`
  '[schema]'=`arrSchema`
  '[named]'=`named`
  '[ctrl]'=`arrCtrl`
)
