.card
  .card-content('[id]'=`id`)
    p.card-title(*ngIf='named') {{k}}
    //- '[ngControlGroup]'=`ctrl`
    form
      ul(
        '[ngControlGroup]'=`spec.name`
      )
        //- presumes lengths of items and the ControlArray will stay in sync
        li.row(*ngFor="#item of items; #i = index")
          button.btn.waves-effect.waves-light.btn-floating.red.col('(click)'=`remove(item, i)`)
            | ×
          //- '[name]'=`i`
          input-field.col(
            '[named]'=`false`
            '[path]'=`path.concat(item)`
            '[spec]'=`spec.items`
            '[ctrl]'=`ctrl.at(i)`
          )
    a.btn.waves-effect.waves-light.green('(click)'=`add()`)
      i.material-icons add
