.card
  .card-content('[id]'=`id`)
    p.card-title(*ngIf='named') {{k}}
    //- '[ngControlGroup]'=`ctrl`
    form
    
      //- select.jade
      .input-field(
        *ngIf=`isOneOf`
      )
        //- '(input)'=`option = $event.target.value`
        select(
          '[(ngModel)]'=`option`
        )
          option(
            *ngFor=`let opt of inAdditional ? schema.additionalItems.oneOf : schema.items.oneOf; let idx = index`
            '[value]'=`idx`
          )
            | {{opt.type}}
      //- script.
      //-   $('select').material_select();
      
      ul(
        *ngIf=`!isOneOf || option`
        '[ngControlGroup]'=`schema.name`
      )
        //- presumes lengths of items and the ControlArray will stay in sync
        li.row(
          *ngFor=`let item of items; let i = index`
        )
          button.btn.waves-effect.waves-light.btn-floating.red.col('(click)'=`remove(item, i)`)
            | ×
          //- '[name]'=`i`
          //- '[schema]'=`schema.items`
          input-field.col(
            '[named]'=`false`
            '[path]'=`path.concat(item)`
            '[schema]'=`resolveSchema(i)`
            '[ctrl]'=`ctrl.at(i)`
          )
          
    ul.errors.card-panel.red-text.red.lighten-5('[hidden]'=`!ctrl.errors?.allOf`)
      | Must use and provide valid values for all types.
          
    a.btn.waves-effect.waves-light.green('(click)'=`add()`)
      i.material-icons add
