div([ngSwitch]='type')
  template([ngSwitchCase]=`'object'`)
    mytable('[path]'=`path`, '[val]'=`val`, '[schema]'=`schema`, '[named]'=`named`)
  template(ngSwitchDefault)
    myul('[path]'=`path`, '[val]'=`val`, '[schema]'=`schema`, '[named]'=`named`)
