//- {fields: [html], desc: html}
form(
  '[ngFormModel]'='form'
  '#frm'='ngForm'
  '(ngSubmit)'='onSubmit()'
)
  .fn_desc!= desc
  //- delegate loop to ng-output/object.jade?
  - each fld in fields
    != fld
  button.btn.waves-effect.waves-light(
    type='submit'
    '[disabled]'='!form.valid'
  ) Submit
