//- {ctrl, attrs: {[(ngModel)], ngControl, id, type, required, placeholder?, `#${ngControl}`: "ngForm"}}
input.tooltipped.validate(
  '[ngClass]'=`{valid: ${ctrl}.valid, invalid: ${ctrl}.invalid}`
)&attributes(attrs)
