// .tbl-hdr: alternative to ViewEncapsulation

// th.tbl-hdr
th.tbl-hdr.waves-effect {
	display: table-cell;
}

th.tbl-hdr svg {
	visibility: hidden;
}
th.tbl-hdr.sort svg, th.tbl-hdr:hover svg {
	visibility: visible;
}
th.tbl-hdr.sort.asc svg, th.tbl-hdr.sort.desc:hover svg, th.tbl-hdr:hover svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
th.tbl-hdr.sort.desc svg, th.tbl-hdr.sort.asc:hover svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
