div([ngSwitch]='type')
  template([ngSwitchCase]=`'object'`)
    object('[path]'=`path`, '[val]'=`val`, '[schema]'=`new_schema`, '[named]'=`false`)
  template([ngSwitchCase]=`'array'`)
    array('[path]'=`path`, '[val]'=`val`, '[schema]'=`new_schema`, '[named]'=`false`)
  template([ngSwitchCase]=`'scalar'`)
    div([ngSwitch]=`isHtml(val)`)
      template([ngSwitchCase]=`true`)
        myiframe('[val]'=`val`)
      template(ngSwitchDefault)
        .scalar('[innerHtml]'=`val | scalar:new_schema`)
  template(ngSwitchDefault)
    p UNIMPLEMENTED OUTPUT-VALUE TYPE ({{ type | json }})!
    //- | async
