//- .has-loader
//-   - loading = 'loading'
//-   include ../../../ng-output/loader.jade
//- p token: {{parent.auths.instagram?.token}}
.row
  .input-field.col.s6(*ngFor=`let scope of scopes`)
    //- warning: duplicate name
    input.filled-in(
      type='checkbox'
      '[id]'=`scope`
      '[(ngModel)]'=`want_scope[scope]`
      name='want_scope[scope]'
    )
    label(
      '[attr.for]'=`scope`
      '[ngClass]'=`{ 'green-text': have_scope[scope] }`
    )
      b {{scope}}:
      | {{ scope_descs ? scope_descs[scope] : '' }}
.row
  button.btn.waves-effect.waves-light.col.offset-s3(
    '(click)'=`onSubmit()`
    '[ngClass]'=`{ 'disabled': loading }`
  ) Connect
