.row
  .col.s12
    ul.tabs
      //- div(tabindex="0")
      li.tab.tooltipped(
        *ngFor=`let api of apis`
        '[attr.data-tooltip]'=`api_tooltip(api)`
      )
        a(
          '[ngClass]'=`api_class(api)`
          '(click)'=`loadUi(api)`
        ) {{api}}

.row
  ul.collapsible#scope-list(data-collapsible='expandable')
    li
      .collapsible-header.bold(
        '[ngClass]'=`{ 'active': !auths[api]?.token }`
      ) Scopes
      .collapsible-body
        #auth(#auth=false)
          auth-ui(
            '(handler)'=`handleToken($event)`
            '[name]'=`auth_ui_name`
            '[scopes]'=`auth_ui_scopes`
            '[oauth_info]'=`auth_ui_oauth_info`
            '[have]'=`auth_ui_have`
          )

.row
  //- .s3
  #functions.col
    fn-ui(
      '(handler)'=`pickFn($event)`
      '[spec]'=`spec`
      '[oauth_sec]'=`fn_ui_oauth_sec`
      '[have]'=`fn_ui_have`
    )

  //- .s6
  #input.col
    input-ui(
      '(handler)'=`reqUrl($event)`
      '[spec]'=`spec`
      '[fn_path]'=`fn_path`
      '[token]'=`input_ui_token`
    )

  .resp.col.s9
    - prefix = 'api_'
    include ./resp.pug
