#index-banner.section.no-pad-bot
  .container(style='width: 90%;')
    #floating-buttons
      - bool = { val: '(ws.connected$ | async)', ok: 'connected', ng: 'connecting...' }
      include ./bool.jade

    .row
      .col.s12
        ul.tabs
          - tabs = { curl: 'Curl', web: 'web', api: 'API' }
          - each id in Object.keys(tabs)
            li.tab.col.s4
              a(href=`#${id}`)= tabs[id]
      .col.s12
        .card
          .card-content
            #curl
              include ./curl.jade
            #web
              include ./web.jade
            #api
              include ./api.jade
