.row
  .col.s12#scrape-ui
    .card
      .card-content
        //- can't access template variable declared later... ViewChild not working either :(
        input-form(
          #fetch_form
          '[spec]'=`fetch_spec`
          '[desc]'=`'fetch what?'`
          '(submit)'=`doFetch($event, process_form.form.value)`
        )
        input-form(
          #process_form
          '[spec]'=`process_spec`
          '[desc]'=`'process how?'`
          '(submit)'=`doProcess($event, fetch_form.form.value)`
        )
  .resp.col.s12
    - prefix = 'web_'
    include ./resp.jade
