//- {k, id, named, scalar: [], object: [], array: []}
.card
  .card-content(id=`{{id}}`)
    p.card-title(*ngIf='named') {{k}}
    mydl(
      '[path]'=`path`
      '[val]'=`scalar`
    )
    object(
      *ngFor=`let x of (object)`
      '[path]'=`x.path`
      '[val]'=`x.val`
      '[schema]'=`x.schema`
      '[named]'=`true`
      @flyInOut=`'in'`
    )
    array(
      *ngFor=`let x of (array)`
      '[path]'=`x.path`
      '[val]'=`x.val`
      '[schema]'=`x.schema`
      '[named]'=`true`
      @flyInOut=`'in'`
    )
