//- {k, id, named, scal: html, obj: [html], arr: [html]}
.card
  .card-content(id=id)
    - if(named)
      span.card-title= k
    != scal
    - each o in obj
      != o
    - each r in arr
      != r
