//- {k, id, scal: {k -> {type, pars}}, obj: {k -> {type, pars}}, arr: {k -> {type, pars}}}
.card
  .card-content(id=id)
    span.card-title= k
    != scal
    - each o in obj
      != o
    - each r in arr
      != r
