//- for use with ControlSet
ul
  li(*ngFor='let opt of schema.enum')
    md-checkbox(
      '[checked]'=`ctrl.has(opt)`
      '(change)'=`$event ? ctrl.add(opt) : ctrl.delete(opt)`
    )
      | {{ opt }}
      //- if I did `enumNames` like `react-json-editor`, use those here
