form
  input(
    '[setAttrs]'=`attrs`
    '[attr.list]'=`attrs.id + '-datalist'`
    '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
    '[ngFormControl]'=`ctrl`
    '[(ngModel)]'=`ctrl.value`
  )
  datalist(
    '[id]'=`attrs.id + '-datalist'`
  )
    //- *ngFor='let opt of spec.enum'
    option(
      *ngFor='let opt of spec.suggestions'
      '[value]'='opt'
    )
