form
  input(
    '[setAttrs]'=`attrs`
    '[attr.list]'=`attrs.id + '-datalist'`
    '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
    '[formControl]'=`ctrl`
    '[(ngModel)]'=`ctrl.value`
    name='ctrl'
  )
  datalist(
    '[id]'=`attrs.id + '-datalist'`
  )
    //- *ngFor='let opt of schema.enum'
    option(
      *ngFor='let opt of schema.suggestions'
      '[value]'='opt'
    )
