//- $('.datepicker').pickadate({ selectMonths: true, selectYears: 15 });
input.datepicker(
  type='date'
  '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
  '[ngFormControl]'=`ctrl`
  '[(ngModel)]'=`ctrl.value`
  '[setAttrs]'=`attrs`
)
