//- I don't think Angular currently has bindings for `input(type='file')`... Does it need to? Can I just use this for Ajax form submissions to the API?
//- '[required]'=`attrs.required`
.file-field.input-field
  .btn
    span File
    input(type='file')
  .file-path-wrapper
    input.file-path.validate(
      type='text'
      '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
      '[ngFormControl]'=`ctrl`
      '[(ngModel)]'=`ctrl.value`
      '[setAttrs]'=`attrs`
    )
