//- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input
//- '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
//- ^ doesn't actually sync well :(, trying CSS instead
input.validate.tooltipped(
  '[setAttrs]'=`attrs`
  '[formControl]'=`ctrl`
  '[(ngModel)]'=`ctrl.value`
)
//- '[placeholder]'=`attrs.placeholder`
//- ^ should not be used together with value?
