form
  p(
    *ngFor='#opt of spec.enum'
  )
    //- '[ngModel]'=`{checked: ctrl.value == me.value}`
    //- #me
    //- '[name]'=`attrs.id`
    //- '[(ngModel)]'=`ctrl.value`
    //- '[ngModel]'=`{checked: ctrl.value == $event.target.value}`
    //- '[required]'=`attrs.required`
    input(
      type='radio'
      id=`{{attrs.id}}+'-'+{{opt}}`
      '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
      '[ngFormControl]'=`ctrl`
      '[value]'='opt'
      '[checked]'=`ctrl.value == $event.target.value`
      '(change)'=`ctrl.value = $event.target.value`
    )
    label(
      'attr.for'=`{{attrs.id}}+'-'+{{opt}}`
    )
      | {{opt}}
