//- {attrs: {}}
p.range-field
  input(
    type='range'
    '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
    '[formControl]'=`ctrl`
    '[(ngModel)]'=`ctrl.value`
    '[setAttrs]'=`attrs`
    name='ctrl'
  )
