//- [separate labels](https://github.com/angular/angular/issues/4843)

//- '[allow-clear]'=`true`
//- '[disabled]'=`disabled`
//- '[placeholder]'=`'No city selected'`
//- ng2-select(
//-   '[items]'=`schema.enum`
//-   '(data)'=`print('(data)')`
//-   '(selected)'=`print('(selected)')`
//-   '(removed)'=`print('(removed)')`
//-   '(typed)'=`print('(typed)')`
//- )

form
  //- '[(ngModel)]'=`ctrl.value`
  //- '(ngModelChange)'=`ctrl.updateValue($event)`
  //- '(input)'=`ctrl.updateValue($event.target.value)`
  .input-field
    select(
      '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
      '[formControl]'=`ctrl`
      '[ngModel]'=`ctrl.value`
      '[setAttrs]'=`attrs`
    )
      //- ; let idx = index
      option(
        *ngFor='let opt of schema.enum'
        '[value]'='opt'
      )
        | {{opt}}
        //- | {{ meat_str_opts[idx] }}

//- script.
//-   $('select').material_select();
