.switch
  label
    | Off
    input(
      type='checkbox'
      '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
      '[ngFormControl]'=`ctrl`
      '[(ngModel)]'=`ctrl.value`
      '[setAttrs]'=`attrs`
    )
    span.lever
    | On
