//- trigger resize on programmatic val change: `$('#textarea1').trigger('autoresize');`
//- ng2 alt. w/o Materialize/jQuery: https://github.com/stevepapa/angular2-autosize
textarea.materialize-textarea.validate(
  '[setAttrs]'=`attrs`
  '[formControl]'=`ctrl`
  '[(ngModel)]'=`ctrl.value`
)
