form
  //- {ctrl, attrs: {[(ngModel)], ngControl, id, type, required, placeholder?, `#${ngControl}`: "ngForm"}}
  //- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input
  //- '[ngControl]'=`name`
  //- '[ngControl]'=`spec.name`
  //- '[ngControl]'=`ctrl`
  //- '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
  //- ^ this somehow doesn't actually sync well :(, gonna try through CSS instead...

  input.validate.tooltipped(
    '[setAttrs]'=`attrs`
    '[ngFormControl]'=`ctrl`
    '[(ngModel)]'=`ctrl.value`
    '[dynamicAttrs]'=`spec['x-bindings']?.attributes`
  )
  //- paper-tooltip {{ attrs.tooltip }}
  //- TODO: leave out attributes with undefined values?
  //- '[placeholder]'=`attrs.placeholder`
  //- ^ should not be used together with value?
