extends layout

block body
  // Header
  header.navbar.navbar-fixed-top.basics-nav(data-ng-controller='HeaderCtrl', data-ng-cloak='')
    .container(data-ng-switch='!!user', data-ng-cloak='')
      a.navbar-brand(href='#/') Scraper Input
      div(data-ng-switch-when='true')
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='', data-toggle='dropdown')
              span.glyphicon.glyphicon-user
              |  {{user.name}}
              b.caret
            ul.dropdown-menu
              li
                a(href='#/settings')
                  span.glyphicon.glyphicon-cog
                  |  Settings
              li
                a(href='', data-ng-click='logout()')
                  span.glyphicon.glyphicon-off
                  |  Logout
      div(data-ng-switch-when='false')
        ul.nav.navbar-nav.pull-right
          li
            a(href='#/login') Login

  // Main Content
  .container(data-ng-cloak='')
    #my-actual-stuff
    
      // Flash alerts
      | @List("success","info","warning","danger").map { alertType =>
      .alert.alert-dismissible(role="alert", class="alert-@alertType", ng-show="@flash.get(alertType).isDefined")
        button.close(type='button', data-dismiss='alert')
          span(aria-hidden='true') ×
        | @flash.get(alertType)
      | }

      h3 Examples:
      ul
        li http://baidu.com/
        li http://taobao.com/
        li http://qq.com/
        li http://akka.io/
        
      form(action='/urls', method='POST')
        textarea.form-control(rows='15', name='urls', placeholder='URLs here')
        button.btn.btn-primary(type='submit') Submit
        
    // Angular: Home
    //- div(data-ng-view='')
    
    //- # debug-params
      ul @flash.data.map{ case(k,v) =>
        li flash @k: @v
        | }
      ul @request.queryString.map{ case(k,v) =>
        li get @k: @v
        | }

  // Footer
  footer(data-ng-controller='FooterCtrl')
