head
  link(rel='stylesheet', href='./vendor/jasmine/jasmine.css')
  script(src='./vendor/jasmine/jasmine.js')
  script(src='./vendor/jasmine/jasmine-html.js')
  script(src='./vendor/jasmine/boot.js')
  script(src='./vendor/system.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.0/angular2.dev.js')
  script(src='./specs.js')
