div(
  '[ngSwitch]'=`type`
)
  template('[ngSwitchCase]'=`'scalar'`)
    //- '[name]'=`schema.name`
    input-field(
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template('[ngSwitchCase]'=`'array'`)
    input-field(
      *ngIf=`ctrl?.constructor?.name == 'ControlSet'`
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
    input-array(
      *ngIf=`ctrl?.constructor?.name != 'ControlSet'`
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template('[ngSwitchCase]'=`'object'`)
    //- input-object(
    input-struct(
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template('[ngSwitchCase]'=`'table'`)
    input-table(
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template(ngSwitchDefault)
    p UNIMPLEMENTED INPUT-VALUE TYPE {{ type | json }}!
