input-polyable(
  *ngIf=`ctrl?.constructor?.name == 'SchemaControlPolyable'`
  '[named]'=`named`
  '[path]'=`path`
  '[schema]'=`schema`
  '[ctrl]'=`ctrl`
)
div(
  *ngIf=`ctrl?.constructor?.name != 'SchemaControlPolyable'`
  '[ngSwitch]'=`type`
)
  template('[ngSwitchCase]'=`'scalar'`)
    //- '[name]'=`schema.name`
    input-field(
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template('[ngSwitchCase]'=`'array'`)
    //- *ngIf=`ctrl instanceof ControlSet`
    div(
      '[ngSwitch]'=`['SchemaControlSet','SchemaTextareaArrayControl'].includes(ctrl?.constructor?.name)`
    )
      template('[ngSwitchCase]'=`true`)
        input-field(
          '[named]'=`named`
          '[path]'=`path`
          '[schema]'=`schema`
          '[ctrl]'=`ctrl`
        )
      template(ngSwitchDefault)
        input-array(
          '[named]'=`named`
          '[path]'=`path`
          '[schema]'=`schema`
          '[ctrl]'=`ctrl`
        )
  template('[ngSwitchCase]'=`'object'`)
    //- input-object(
    input-struct(
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template('[ngSwitchCase]'=`'table'`)
    input-table(
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template(ngSwitchDefault)
    p UNIMPLEMENTED INPUT-VALUE TYPE {{ type | json }}!
