div([ngSwitch]='type')
  template([ngSwitchWhen]=`'scalar'`)
    //- '[name]'=`spec.name`
    input-field(
      '[named]'=`named`
      '[path]'=`path`
      '[spec]'=`spec`
      '[ctrl]'=`ctrl`
    )
  template([ngSwitchWhen]=`'array'`)
    input-array(
      '[named]'=`named`
      '[path]'=`path`
      '[spec]'=`spec`
      '[ctrl]'=`ctrl`
    )
  template([ngSwitchWhen]=`'object'`)
    //- input-object(
    input-struct(
      '[named]'=`named`
      '[path]'=`path`
      '[spec]'=`spec`
      '[ctrl]'=`ctrl`
    )
  template([ngSwitchWhen]=`'table'`)
    input-table(
      '[named]'=`named`
      '[path]'=`path`
      '[spec]'=`spec`
      '[ctrl]'=`ctrl`
    )
  template(ngSwitchDefault)
    p UNIMPLEMENTED INPUT-VALUE TYPE {{ type }}!
