input-polyable(
  *ngIf=`ctrl?.constructor?.name == 'SchemaControlPolyable'`
  '[named]'=`named`
  '[path]'=`path`
  '[schema]'=`schema`
  '[ctrl]'=`ctrl`
)
div(
  *ngIf=`ctrl?.constructor?.name != 'SchemaControlPolyable'`
  '[ngSwitch]'=`type`
)
  template('[ngSwitchCase]'=`'scalar'`)
    //- '[name]'=`schema.name`
    input-field(
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template('[ngSwitchCase]'=`'array'`)
    //- *ngIf=`ctrl instanceof ControlSet`
    input-field(
      *ngIf=`ctrl?.constructor?.name == 'SchemaControlSet'`
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
    //- *ngIf=`!(ctrl instanceof ControlSet)`
    input-array(
      *ngIf=`ctrl?.constructor?.name != 'SchemaControlSet'`
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template('[ngSwitchCase]'=`'object'`)
    //- input-object(
    input-struct(
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template('[ngSwitchCase]'=`'table'`)
    input-table(
      '[named]'=`named`
      '[path]'=`path`
      '[schema]'=`schema`
      '[ctrl]'=`ctrl`
    )
  template(ngSwitchDefault)
    p UNIMPLEMENTED INPUT-VALUE TYPE {{ type | json }}!
