.waves-effect {
	display: table-cell;
}

th svg {
	visibility: hidden;
}
th.sort svg, th:hover svg {
	visibility: visible;
}
th.sort.asc svg, th.sort.desc:hover svg, th:hover svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
th.sort.desc svg, th.sort.asc:hover svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
