form
  input(
    '[id]'=`attrs.id`
    '[attr.list]'=`attrs.id + '-datalist'`
    '[ngClass]'=`{ valid: ctrl.valid, invalid: !ctrl.valid }`
    '[ngFormControl]'=`ctrl`
    '[(ngModel)]'=`ctrl.value`
    '[required]'=`attrs.required`
    '[attr.data-tooltip]'=`attrs.tooltip`

    '[attr.maxlength]'=`attrs.maxlength`
    '[attr.minlength]'=`attrs.minlength`
    '[attr.pattern]'=`attrs.pattern`
  )
  datalist(
    '[id]'=`attrs.id + '-datalist'`
  )
    //- *ngFor='#opt of spec.enum'
    option(
      *ngFor='#opt of spec.suggestions'
      '[value]'='opt'
    )
