//- {k, id, named, rows: [{id, val}]}
table.bordered.highlight(id=`{{id}}`)
  thead(*ngIf=`named`)
    th {{k}}
  tbody
    tr(*ngFor=`let r of rows; let idx = index`)
      td(
        id=`{{r.id}}`
      )
        //- p {{ r | json }}
        //- scalar(
        value(
          '[path]'=`r.path`
          '[val]'=`r.val`
          '[schema]'=`r.schema`
        )
