.row
  .col.s12
    ul.tabs
      //- div(tabindex="0")
      li.tab.tooltipped(
        *ngFor=`#api of apis`
        '[attr.data-tooltip]'='auths[api]?.token ? "auth token: " + auths[api]?.token : "connect to " + api'
      )
        a(
          '[ngClass]'=`{ 'green-text': auths[api]?.token }`
          '(click)'=`load_ui(api)`
        ) {{api}}
    //- paper-tooltip {{ auths[api]?.token ? "auth token: " + auths[api]?.token : "connect to " + api }}

.row
  ul.collapsible#scope-list(data-collapsible='expandable')
    li
      .collapsible-header.bold(
        '[ngClass]'=`{ 'active': !auths[api]?.token }`
      ) Scopes
      .collapsible-body
        #auth(#auth)
          auth-ui(
            '(handler)'=`handle_implicit($event)`
            '[name]'=`auth_ui_name`
            '[scopes$]'=`auth_ui_scopes$`
            '[oauth_info$]'=`auth_ui_oauth_info$`
            '[delim]'=`auth_ui_delim`
            '[have$]'=`auth_ui_have$`
          )
      
.row
  #functions.col.s3
    fn-ui(
      '(handler)'=`pick_fn($event)`
      '[spec$]'=`spec$`
      '[oauth_sec$]'=`fn_ui_oauth_sec`
      '[have$]'=`fn_ui_have`
    )
  
  #input.col.s6
    input-ui(
      '(handler)'=`req_url($event)`
      '[spec$]'=`spec$`
      '[fn_path$]'=`fn_path$`
      '[token]'=`input_ui_token`
    )
  
  .resp.col.s9
    - prefix = 'api_'
    include ./resp.jade
