//- {k, id, named, scal: v, obj: [v], arr: [v]}
.card
  .card-content(id=`{{id | async}}`)
    span.card-title(*ngIf='named') {{k | async}}
    mydl(
      '[path$]'=`path$`
      '[val$]'=`val$`
      '[schema$]'=`schema$`
      '[scalar_coll$]'=`scalar`
    )
    object(
      *ngFor=`#x of object`
      '[path$]'=`x.path`
      '[val$]'=`x.val`
      '[schema$]'=`x.schema`
      '[named]'=`true`
    )
    array(
      *ngFor=`#x of array`
      '[path$]'=`x.path`
      '[val$]'=`x.val`
      '[schema$]'=`x.schema`
      '[named]'=`true`
    )
