//- {k, id, named, scal: v, obj: [v], arr: [v]}
.card
  .card-content(id=`{{id | async}}`)
    span.card-title(*ngIf='named') {{k | async}}
    //- '[val$]'=`val$`
    //- '[schema$]'=`schema$`
    //- '[scalar_coll$]'=`scalar`
    mydl(
      '[path$]'=`path$`
      '[val$]'=`scalar`
    )
    object(
      *ngFor=`#x of (object | async)`
      '[path$]'=`x.path`
      '[val$]'=`x.val`
      '[schema$]'=`x.schema`
      '[named]'=`true`
    )
    //- array(
    //-   *ngFor=`#x of (array | async)`
    //-   '[path$]'=`x.path`
    //-   '[val$]'=`x.val`
    //-   '[schema$]'=`x.schema`
    //-   '[named]'=`true`
    //- )
    //- array(
    //-   '[path$]'=`['test']`
    //-   '[val$]'=`[]`
    //-   '[schema$]'=`null`
    //-   '[named]'=`true`
    //- )
    //- array(
    //-   '[path$]'=`path$`
    //-   '[val$]'=`[]`
    //-   '[schema$]'=`schema$`
    //-   '[named]'=`false`
    //- )
    ul(*ngFor=`#x of (array | async)`)
      li {{ x | json }}
      array(
        '[path$]'=`x.path`
        '[val$]'=`x.val`
        '[schema$]'=`x.schema`
        '[named]'=`true`
      )
