//- {k, id, named, cols: [{k, id}], rows: [{id, cells: [{id, val}]}]}
.card
  .card-content
    span.card-title(*ngIf='named') {{k | async}}
    table.bordered.highlight(id=`{{id | async}}`)
      thead
        th(
          *ngFor=`#col of cols`
          id=`{{col.id}}`
        ) {{col.k}}
      tbody
        tr(
          *ngFor=`#r of rows`
          id=`{{r.id}}`
        )
          //- rearrange as objects with *ngFor=`#col of cols` -> #cell=`r[col]`?
          td(
            *ngFor=`#c of r.cells`
            id=`{{c.id}}`
          )
            value(
              '[path$]'=`c.path`
              '[val$]'=`c.val`
              '[schema$]'=`c.schema`
            )
