//- include ./swagger.jade
#floating-buttons
  - bool = { val: 'ws.connected', ok: 'connected', ng: 'connecting...' }
  include ./bool.jade

.row
  .col.s12
    ul.tabs
      //- '[attr.data-tooltip]'='auths[api]?.token ? "auth token: {{auths[api]?.token}}" : "connect to {{api}}"'
      li.tab.tooltipped(
        *ngFor=`#api of apis`
        '[attr.data-tooltip]'='auths[api]?.token ? "auth token: " + auths[api]?.token : "connect to " + api'
      )
        a(
          '[ngClass]'=`{ 'green-text': auths[api]?.token }`
          '(click)'=`load_ui(api)`
        ) {{api}}

//- #unauthed([hidden]="auths['instagram']?.token")
.row
  //- #auth(#auth)
  ul.collapsible#scope-list(data-collapsible='expandable')
    li
      .collapsible-header.bold(
        '[ngClass]'=`{ 'active': !auths[api]?.token }`
      ) Scopes
      .collapsible-body
        #auth(#auth)
      
//- #authed([hidden]="!auths['instagram']?.token")
.row
  #functions(#functions).col.s4
  #input(#input).col.s6
  #resp(#resp).col.s8
    .row
      .col.s12
        ul.tabs
          - tabs = { raw: 'Raw', colored: 'Colored' }
          - each id in Object.keys(tabs)
            li.tab.col.s3
              a(href=`#${id}`)= tabs[id]
      .col.s12
        .card
          .card-content
            pre#raw {{json}}
            pre#colored
              colored('[str]'='json')

#output(#output)

//- include ./test.jade
