//- {rows: [{k, id, val}]}
dl
  div(*ngFor=`#r of rows`)
    dt {{r.k}}
    dd(
      id=`{{r.id}}`
    )
      value(
        '[path$]'=`r.path`
        '[val$]'=`r.val`
        '[schema$]'=`r.schema`
      )
