//- {rows: [{k, id, val}]}
//- p {{ rows | json }}
table.bordered.highlight
  tbody
    tr(
      *ngFor=`#r of rows$ | async`
      id=`{{r.id}}`
    )
      th {{r.k}}
      td
        value(
          '[path$]'=`r.path`
          '[val$]'=`r.val`
          '[schema$]'=`r.schema`
        )
