//- $('.collapsible').collapsible()
//- v to allow opening multiple: expandable instead of accordion
ul.collapsible#fn-list(data-collapsible='accordion')
  li(*ngFor='#tag of tags')
    .collapsible-header.tooltipped.bold(
      '[ngClass]'=`{ 'grey lighten-3': !has_usable[tag.name]  }`
      '[attr.data-tooltip]'=`tag?.description`
    ) {{tag.name}}
    .collapsible-body
      .collection
        //- '(click)'=`handler.emit(path)`
        a.collection-item.tooltipped(
          *ngFor=`#path of tag_paths[tag.name]`
          '[ngClass]'=`{ 'grey lighten-2 grey-text disabled-link': !have_scopes[path]  }`
          '[attr.data-tooltip]'=`have_scopes[path] ? descs[path] : path_tooltips[path]`
          href='#'
          '(click)'=`handler.emit(path)`
        )
          //- ^ can I optionally disable the click attribute if `!have_scopes[path]`? I could only make it `load_form(path)` if `have_scopes[path]` but that's kinda lame/ugly...
          //- .chip.get GET
          | {{path}}
