//- {k, id, named, rows: [{id, val}]}
table.bordered.highlight(id=`{{id | async}}`)
  thead(*ngIf=`named`)
    th {{k | async}}
  tbody
    //-  | async
    tr(*ngFor=`#r of rows`)
      td(
        id=`{{r.id}}`
      )
        //- scalar(
        value(
          '[path$]'=`r.path`
          '[val$]'=`r.val`
          '[schema$]'=`r.schema`
        )
