div([ngSwitch]='type')
  template([ngSwitchWhen]=`'object'`)
    object('[path$]'=`path$`, '[val$]'=`val$`, '[schema$]'=`new_spec$`, '[named]'=`false`)
  template([ngSwitchWhen]=`'array'`)
    array('[path$]'=`path$`, '[val$]'=`val$`, '[schema$]'=`new_spec$`, '[named]'=`named`)
    //- ^ added name due to #7084 workaround
  template([ngSwitchWhen]=`'scalar'`)
    scalar('[path$]'=`path$`, '[val$]'=`val$`, '[schema$]'=`new_spec$`)
  template(ngSwitchDefault)
    p UNIMPLEMENTED VALUE TYPE {{ type }}!
    //- | async
