//- {html, id, key, model, ctrl, label, validators: {k -> msg}, hidden}
form
  div(*ngIf=`of`)

    //- select.pug
    .input-field
      //- '(input)'=`option = $event.target.value`
      select(
        '[(ngModel)]'=`option`
        name='option'
      )
        option(
          *ngFor=`let opt of schema[of]; let idx = index`
          '[value]'=`idx`
        )
          | {{opt.type}}
    //- script.
    //-   $('select').material_select();
    //- ng2-select(
    //-   '[items]'=`schema[of]`
    //-   '(data)'=`print('(data)')`
    //-   '(selected)'=`print('(selected)')`
    //-   '(removed)'=`print('(removed)')`
    //-   '(typed)'=`print('(typed)')`
    //- )

    input-value(
      *ngIf=`option`
      '[path]'=`path`
      '[schema]'=`resolveSchema()`
      '[named]'=`named`
      '[ctrl]'=`ctrl`
    )

  //- '[hidden]'=`hidden`
  //- ^ I don't know why, but it seemed to dislike this version for some reason...
  .input-field(
    *ngIf=`!of`
    '[ngClass]'=`{hidden: hidden}`
  )
    div('[ngSwitch]'='type')
      template('[ngSwitchCase]'=`'input'`)
        include ../misc/input.pug
      template('[ngSwitchCase]'=`'range'`)
        include ../misc/range.pug
      template('[ngSwitchCase]'=`'switch'`)
        include ../misc/switch.pug
      template('[ngSwitchCase]'=`'date'`)
        include ../misc/date.pug
      template('[ngSwitchCase]'=`'file'`)
        include ../misc/file.pug
      template('[ngSwitchCase]'=`'datalist'`)
        include ../misc/datalist.pug
      template('[ngSwitchCase]'=`'select'`)
        include ../misc/select.pug
      template('[ngSwitchCase]'=`'radio'`)
        include ../misc/radio.pug
      template('[ngSwitchCase]'=`'checkboxes'`)
        include ../misc/checkboxes.pug
      template('[ngSwitchCase]'=`'textarea'`)
        include ../misc/textarea.pug
      template(ngSwitchDefault)
        p UNIMPLEMENTED FIELD TYPE {{ type | json }}!

    //- data-error='wrong'
    //- data-success='right'
    //- .active
    //- '[ngClass]'=`{ 'active': attrs.default }`
    label.active(
      *ngIf=`named`
      '[attr.for]'=`id`
      '[innerHtml]'=`label`
    )
    //- ^ .active normally added dynamically by materialize.js when selecting the input.
    //- when the inputs have initial values the label/input text would initially clash though.
    //- | {{label}}
    //- ^ does {{label}} need to be raw HTML?
    //- p= `val: {{ ${ctrl}.value }}`
    //- p= `errors: {{ ${ctrl}.errors | json }}`
    include ../errors.pug
