//- {html, id, key, model, ctrl, label, validators: {k -> msg}, hidden}
//- '[hidden]'=`hidden`
//- ^ I don't know why, but it seemed to dislike this version for some reason...
.input-field(
  '[ngClass]'=`{hidden: hidden}`
)
  div('[ngSwitch]'='type')
    template('[ngSwitchWhen]'=`'input'`)
      //- '[path]'=`path`
      //- '[spec]'=`spec`
      //- '[name]'=`name`
      my-input(
        '[ctrl]'=`ctrl`
        '[attrs]'=`attrs`
      )
    template('[ngSwitchWhen]'=`'range'`)
      include ../range.jade
    template('[ngSwitchWhen]'=`'switch'`)
      include ../switch.jade
    template('[ngSwitchWhen]'=`'date'`)
      include ../date.jade
    template('[ngSwitchWhen]'=`'file'`)
      include ../file.jade
    template('[ngSwitchWhen]'=`'datalist'`)
      include ../datalist.jade
    template('[ngSwitchWhen]'=`'select'`)
      include ../select.jade
    template('[ngSwitchWhen]'=`'radio'`)
      include ../radio.jade
    template(ngSwitchDefault)
      p UNIMPLEMENTED FIELD TYPE {{ type }}!
      
  //- data-error='wrong'
  //- data-success='right'
  //- .active
  //- '[ngClass]'=`{ 'active': attrs.default }`
  label.active(
    *ngIf=`named`
    '[attr.for]'=`id`
    '[innerHtml]'=`label`
  )
  //- ^ .active normally added dynamically by materialize.js when selecting the input.
  //- when the inputs have initial values the label/input text would initially clash though.
  //- | {{label}}
  //- ^ does {{label}} need to be raw HTML?
  //- p= `val: {{ ${ctrl}.value }}`
  //- p= `errors: {{ ${ctrl}.errors | json }}`
  //- .alert.alert-danger(*ngIf=`${ctrl}.dirty && !ctrl.valid`)
  ul.errors.card-panel.red-text.red.lighten-5('[hidden]'=`ctrl.valid`)
    //- '[hidden]'=`!(ctrl.errors||{})[vldtr]`
    //- | {{vldtr}}: {{!showError(vldtr)}}
    li.error-item(
      *ngFor=`#vldtr of validator_keys`
      '[innerHtml]'=`validator_msgs[vldtr]`
      '[hidden]'=`!showError(vldtr)`
    )
