//- '#frm'='ngModelGroup'
form(
  '[formGroup]'='form'
)
  .fn_desc {{ desc }}
  //- '[path]'=`[]`
  //- '[named]'=`false`
  input-value(
    *ngIf=`schema`
    '[schema]'=`schema`
    '[ctrl]'=`form`
  )
  //- type='submit'
  //- '[disabled]'=`!form.valid`
  //- `button` emits an extra submit Event but `a` doesn't natively support `[disabled]`...
  a.btn.waves-effect.waves-light(
    '[ngClass]'=`{ 'disabled': !form.valid }`
    '(click)'=`submit.emit(form.value)`
  ) Submit

//- h3 Form value:
//- pre {{value}}
