form(
  '[ngFormModel]'='form'
  '#frm'='ngForm'
)
  .fn_desc {{ desc }}
  input-value(
    *ngIf=`spec`
    '[path]'=`[]`
    '[spec]'=`spec`
    '[named]'=`false`
    '[ctrl]'=`form`
  )
  //- type='submit'
  //- '[disabled]'=`!form.valid`
  //- `button` emits an extra submit Event but `a` doesn't natively support `[disabled]`...
  a.btn.waves-effect.waves-light(
    '[ngClass]'=`{ 'disabled': !form.valid }`
    '(click)'=`submit.emit(form.value)`
  ) Submit

//- h3 Form value:
//- pre {{value}}
