//- {k, id, named, html}
.card
  //- `{{id | async}}`
  .card-content(id=id)
    //- (*ngIf='named')
    - if(named)
      //- {{k | async}}
      span.card-title= k
    ul
      li(*ngFor="#item of items | async")
        button('(click)'=`remove(item)`)
        | x
        //- <field> (unnamed)
        //- wait, jade? ng2? I'm confused... also, the ng2 inputs should probably use [(double)] binding?
          //- {{item}}
          //- != html
    button('(click)'=`add()`)
    | +
