.card
  .card-content('[id]'=`id`)
    span.card-title(*ngIf='named') {{k}}
    //- '[ngControlGroup]'=`ctrl`
    form
      ul(
        '[ngControlGroup]'=`spec.name`
      )
        //- presumes lengths of items and the ControlArray will stay in sync
        li(*ngFor="#item of items; #i = index")
          button('(click)'=`remove(item)`)
          | x
          //- '[name]'=`i`
          input-field(
            '[named]'=`false`
            '[path]'=`path.concat(item)`
            '[spec]'=`spec.items`
            '[ctrl]'=`ctrl.at(i)`
          )
    button('(click)'=`add()`)
    | +
