//- using `extends` needs file-system knowledge, so pre-render using `gulp-jade`... when I can load that ES6 from Gulp without errors.
//- {html, id, key, model, ctrl, label, validators: {k -> msg}, hidden}
.input-field(
  '[hidden]'=`hidden`
)
  block input
  //- div([ngSwitch]='type')
    //- template([ngSwitchWhen]=`'input'`)
    //-   my-input()
    //- template(ngSwitchDefault)
    //-   p UNIMPLEMENTED FIELD TYPE {{ type }}!
      
  //- data-error='wrong'
  //- data-success='right'
  label(
    *ngIf=`named`
    for=`{{id}}`
  ) {{label}}
  //- ^ does {{label}} need to be raw HTML?
  //- p= `val: {{ ${ctrl}.value }}`
  //- p= `errors: {{ ${ctrl}.errors | json }}`
  //- .alert.alert-danger(*ngIf=`${ctrl}.dirty && !ctrl.valid`)
  .errors.card-panel.red-text.red.lighten-5('[hidden]'=`ctrl.valid`)
    .error(
      *ngFor=`#vldtr of validator_keys`
      *ngIf=`ctrl.errors?.vldtr`
      '[innerHtml]'=`validators[vldtr]`
    )
