//- {fields: [html], desc: html}
//- '#my_form'='ngForm'
form(
  '[ngFormModel]'='form'
  '(ngSubmit)'='onSubmit()'
)
  .fn_desc!= desc
  - each fld in fields
    != fld
  button.btn.waves-effect.waves-light(
    type='submit'
    [disabled]='!form.valid'
  ) Submit
