//- {model, attrs: {[(ngModel)], ngControl, id, type, required, placeholder?, `#${ngControl}`: "ngForm"}}
input.tooltipped.validate(
  '[ngClass]'=`{valid: ${model}.valid, invalid: ${model}.invalid}`
)&attributes(attrs)
