//- {attrs: {[(ngModel)], ngControl, id, type, required, placeholder?, `#${ngControl}`: "ngForm"}}
extends field-block
block input
  input.validate(
    [ngClass]=`{valid: ${attrs.ngControl}.valid, invalid: ${attrs.ngControl}.invalid}`
  )&attributes(attrs)
